* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    box-sizing: border-box;
    background: #F1F3F4;
    font-family: Aril, Tahoma, sans-serif;
    color: #43525D;
}
.right {
    float: right;
}
.left {
    float: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.orange {
    background: #ff5912;
}
.white {
    background: #fff;
}
.text-orange {
    color: #ff5912;
}
.bold {
    font-weight: bold;
}
p {
    margin: 0;
}
.products-h1 {
    margin-top: 100px;
}
h3 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 70px 0 20px 0;
}

h3 span {
    color: #ff7013;
}
.section-description {
    text-align: center;
    margin: 20px 0 75px 0;
}
.cost {
    color: #ff7013;
    font-weight: bold;
}
/*---------------------------------grid------------------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    margin: 0;

}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.block-1170 {
    width: 97.5%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}
.block-900 {
    width: 72.5%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}
.block-770 {
    width: 64.16%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}
.block-670 {
    width: 58.333%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}
.block-570 {
    width: 47.5%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}
.block-370 {
    width: 30.83%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}
.block-300 {
    width: 22.5%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}

.block-270 {
    width: 20%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}
.block-170 {
    width: 14.16%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}
/*------------------------ grid end -----------------------*/
.goods-block {
    margin: 80px 0;
}
.goods-cart {
   min-height: 350px;
  background: #fff;
    text-align: center;
    font-size: 18px;
    margin: 0 0 35px 0;
    cursor: pointer;
    overflow: hidden;
}
 .goods-cart img {
     margin-top: 30px;
 }
 .goods-cart .goods-name {
    color: #43525D;
    margin: 20px 0;
 }
 .goods-cart .cost {
     color: #ff7013;
 }

 .size {
     font-weight: 600;
     font-size: 12px;
     margin: 13px 0;
 }

 .color {
     width: 80%;
    border-bottom: 1px solid #f2f4f7;
    padding-bottom: 10px;
    margin-left: 27px;
 }

 .color-circle {
     display: inline-block;
     width: 16px;
     height: 16px;
     margin: 3px;
     border-radius: 100%;
 }

 .bg-light-blue {
     background: lightblue;
 }
 .bg-red {
     background: red;
 }
 .bg-black {
     background: black;
 }

 .cart-icon img {
    margin: 17px 0;
    margin-left: 15px;
    margin-right: 15px;
 }
 .cart-back {
     display: none;
 }
 .goods-cart:hover {
     box-shadow: 1px 1px 5px grey;
 }

 .goods-cart:hover .cart-back {
    display: block;
}

.goods-cart:hover .goods-img {
    max-height: 100px;
    transition: all ease 2s;
}

.goods-img {
    max-height: 216px;
 
}
 /*------------------- best sales -----------------------*/
 .best-sales {
     background: #fff;
     padding: 20px;
 }
 .best-sales img {
     max-width: 40%;
 }
 .best-sales-description {
     width: 60%;

 }
 .best-sales-description h4 {
     margin-top: 0;
 }

 .best-sales-description .stars img {
    max-width: 100%;
    position: relative;
    top: 5px;
}
.best-sales-description .cost {
    display: inline-block;
    width: 42%;
    text-align: right;
} 
 /*------------------- best sales end -----------------------*/
  
 /*------------------- letter -----------------------*/
 .letter {
     background: #fff;
     margin: 120px 0;
     min-height: 100px;
     padding: 20px;
     line-height: 100px;
 }
 .join-us {
     padding: 15px 25px;
     border: none;
     color: #fff;
 }


/*------------------- divider -----------------------*/
.divider {
    min-height: 60px;
    margin: 80px 0 115px 0;
    line-height: 60px;
} 
.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/*--------------------- slider on top --------------------*/

.slider-on-top {
    overflow: hidden;
    width: 50%;

    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.slider-on-top p {
    margin: 20px 0;
}
.slider-on-top-bg {
    background-image: url('../images/slider_1.png');
    background-size: cover;
    min-height: 650px;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
/*------------------- IPad 768px ----------------------*/
@media screen and (max-width:768px) {
    .block-1170,
    .block-900,
    .block-770,
    .block-670,
    .block-570,
    .block-370,
    .block-300,
    .block-270,
    .block-170 {
        width: auto;
        min-height: auto;
        float: none;
        margin: 0;
    }

    .sidebar-block {
        width: auto;
        margin: 0;
    }

.md-1,
.md-2,
.md-3,
.md-4,
.md-6,
.md-8,
.md-10,
.md-12 {
    float: left;
    margin: 1% 1%;
}

.md-1 {
    width: 6.33333%;
}
.md-2 {
   width: 14.6666%; 
}
.md-3 {
    width: 23%; 
}
.md-4 {
    width:31.333333%; 
}
.md-6 {
    width:48%; 
}
.md-8 {
    width:64.6666667%; 
 }
.md-10 {
    width:81.333%; 
}
.md-12 {
    width:98%; 
}

.md-center {
    text-align: center;
}

.ico-line {
    margin: 20px 20px;
    float: none;
}

#block-170 {
    width: 100%;
}

#block-logo {
    width: 100%;
}

.slider-on-top-bg {
    min-height: 350px;
}

.divider {
    margin: 40px 0;
}

.best-sales {
    margin-bottom: 20px;
}

.goods-catalog {
    margin-top: 30px;
} 
.main-nav ul {
    padding-left: 21%;
}
}
/* ---------------------- end -------------------------- */

/*------------------- 375px ----------------------*/
@media screen and (max-width:375px) {
    .block-1170,
    .block-900,
    .block-770,
    .block-670,
    .block-570,
    .block-370,
    .block-300,
    .block-270,
    .block-170 {
        width: auto;
        min-height: auto;
        float: none;
        margin: 0;
    }

    .sidebar-block {
        width: auto;
        margin: 0;
    }

.sd-1,
.sd-2,
.sd-3,
.sd-4,
.sd-6,
.sd-8,
.sd-10,
.sd-12 {
    float: left;
    margin: 1% 1%;
}

.sd-1 {
    width: 6.33333%;
}
.sd-2 {
   width: 14.6666%; 
}
.sd-3 {
    width: 23%; 
}
.sd-4 {
    width:31.333333%; 
}
.sd-6 {
    width:48%; 
}
.sd-8 {
    width:64.6666667%; 
 }
.sd-10 {
    width:81.333%; 
}
.sd-12 {
    width:98%; 
}

.sd-center {
    text-align: center;
}
.icon-nav-style-1 {
    margin-top: 20px;
}
.nav1-style {
    margin: 0 -24px;
}

.nav2-style { 
    padding-left: 27px;
}

.section-description {
    text-align: center;
    margin: 19px 0 24px 0;
}

.h3-style-1 {
    margin-bottom: 26px;
}

.block_adv .adv-price::before {
    content: "";
    width: 22px;
    height: 22px;
    background-image: url(../images/card_plus.png);
    display: inline-block;
    margin-right: 0px;
}

.adv-2 {
    display: inline-block;
}

.n {
    font-size: 12px;
}

.products-h1 {
    margin-top: 24px;
}

#sd-4 {
    margin-bottom: 40px;
}

.single-goods-card .min-description {
    font-size: 15px;
    color: #3c4751;
    margin-left: 3px;
}

.single-goods-card .full-description {
    font-size: 15px;
    line-height: 28px;
    margin: 35px 26px;
    text-align: center;
}

.choose-size .left {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 19px;
    font-size: 20px;
}
 
.choose-size .right {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
}

.main-price-goods .left {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.main-price-goods .right .ico-price {
    float: left;
    width: 100%;
}

.sd-style {
    padding-right: 28%;
}

.sd-style-order {
    margin-top: 65px;
    margin-bottom: -41px;
}
}

/*------------------- 450px ----------------------*/
@media screen and (max-width:450px) {
    .block-1170,
    .block-900,
    .block-770,
    .block-670,
    .block-570,
    .block-370,
    .block-300,
    .block-270,
    .block-170 {
        width: auto;
        min-height: auto;
        float: none;
        margin: 0;
    }

    .sidebar-block {
        width: auto;
        margin: 0;
    }

.sd-1,
.sd-2,
.sd-3,
.sd-4,
.sd-6,
.sd-8,
.sd-10,
.sd-12 {
    float: left;
    margin: 1% 1%;
}

.sd-1 {
    width: 6.33333%;
}
.sd-2 {
   width: 14.6666%; 
}
.sd-3 {
    width: 23%; 
}
.sd-4 {
    width:31.333333%; 
}
.sd-6 {
    width:48%; 
}
.sd-8 {
    width:64.6666667%; 
 }
.sd-10 {
    width:81.333%; 
}
.sd-12 {
    width:98%; 
}

.sd-center {
    text-align: center;
}
.icon-nav-style-1 {
    margin-top: 20px;
}
.nav1-style {
    margin: 0 -24px;
}

.nav2-style { 
    padding-left: 27px;
}

.section-description {
    text-align: center;
    margin: 19px 0 24px 0;
}

.h3-style-1 {
    margin-bottom: 26px;
}

.block_adv .adv-price::before {
    content: "";
    width: 22px;
    height: 22px;
    background-image: url(../images/card_plus.png);
    display: inline-block;
    margin-right: 0px;
}

.adv-2 {
    display: inline-block;
}

.n {
    font-size: 12px;
}

.products-h1 {
    margin-top: 24px;
}

#sd-4 {
    margin-bottom: 40px;
}

.single-goods-card .min-description {
    font-size: 15px;
    color: #3c4751;
    margin-left: 3px;
}

.single-goods-card .full-description {
    font-size: 15px;
    line-height: 28px;
    margin: 35px 26px;
    text-align: center;
}

.choose-size .left {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 19px;
    font-size: 20px;
}
 
.choose-size .right {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
}

.main-price-goods .left {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.main-price-goods .right .ico-price {
    float: left;
    width: 100%;
}

.sd-style {
    padding-right: 28%;
}

.sd-style-order {
    margin-top: 20px;
    margin-bottom: -41px;
}
}

/*------------------- 360px ----------------------*/
@media screen and (max-width:360px) {
    .n {
        font-size: 10px;
    }
}

/*------------------- 320px ----------------------*/
@media screen and (max-width:320px) {
    .block_adv .adv-price {
        font-size: 19px;
    }

    .main-nav li {
        float: none;
    }

    .nav1-style {
        margin: 0px -30px;
    }

    .nav2-style {
        padding-right: 38%;
        margin-top: -22px;
}
    }
    
}
